@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
}
section{
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
line-height: 1;
} 

h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
    }

p  {
    font-size: 1.1em;
    line-height: 1.7em;
}

.navbar_box{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
    float: right;
    > a {
        color:white;
        font-size: 20px;
        margin-right: 20px;
        &:hover{
            color: white;
        }
    }
}

// @media screen and (max-width: 780px) {
//     #logo{
//         display: none;
//     }
//   }


/* header */
#logo {
    padding-top: 10px;
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
 &:hover {
    color: #fff;
    text-decoration: none;
    }
}
