// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table__box{
    // display: flex;
    // // justify-content: center;
    // // margin: 0 auto;
    // // align-items: center;
    // flex-direction: column;
    border:1px solid rgb(138, 132, 132);
    border-radius: 8px;
    padding: 10px;
}

// .table{
//     display: flex;
//     justify-content: space-between;
// }

.cont_text{
    font-size: 20px;
}

.links-but{
    float: right;
    margin-top: 10px;
    > button{
        > a {
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
